.fourthpage{
    background-color: #AED6CA;
    height: 860px;
    width: 380px;
    border-color: black;
    border-radius: 35px;
}
.topbar{
    /* background-color:red; */
    height: 80px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.tline{
    height: 80px;
    /* background-color: green; */
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wserv{
    height: 80px;
    /* background-color: yellow; */
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #243D25;
}
.qmark{
    height: 80px;
    /* background-color:blueviolet; */
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: 'Acme', sans-serif;
}
.whline{
    height: 6px;
    background-color:white;
}
.text{
    font-family: 'Acme', sans-serif;
    color: #243D25;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
}
,img{
    margin-left: 2px;
}
.box1st2{
    height: 130px;
    display: flex;
    /* background-color: red; */
}
.box1{
background-color:white;
height: 100px;
width: 165px;
margin-left: 20px;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;
}
.box2{
background-color: white;
height: 100px;
width: 165px;
margin-left: 10px;
border-radius: 20px;
display: flex;
align-items: center;
justify-content: center;
}
.box2nd2{
    height: 130px;
    display: flex;
    /* background-color:green; */
}
.box3{
    background-color:white;
    height: 100px;
    width: 165px;
    margin-left: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box4{
    background-color: white;
    height: 100px;
    width: 165px;
    margin-left: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text2{
    font-family: 'Acme', sans-serif;
    color: #243D25;
    font-size: 25px;
    /* margin-left: 10px; */
    font-weight: 400;
}
.box3rd2{
    height: 130px;
    display: flex;
    /* background-color:blue; */
}
.box5{
    background-color:white;
    height: 100px;
    width: 165px;
    margin-left: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box6{
    background-color: white;
    height: 100px;
    width: 165px;
    margin-left: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text3{
    font-family: 'Acme', sans-serif;
    color: #243D25;
    font-size: 25px;
    /* margin-left: 10px; */
    font-weight: 400;
}
.text4{
    font-family: 'Acme', sans-serif;
    color: #243D25;
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
}
.img4{
    margin-left: 10px;
}
.text5{
    font-family: 'Acme', sans-serif;
    color: #243D25;
    font-size: 25px;
    margin-left: 5px;
    font-weight: 400;
}
.contact{
    font-family: 'Acme', sans-serif;
    color: #243D25;
    font-size: 35px;
    margin-left: 20px;
    font-weight: 400;
    
}
.boxe{
    background-color: #b5b5b5;
    height: 40px;
    width: 230px;
    border-radius: 10px;
    margin-left: 75px;
    display: flex;
    align-items: center;
}
.boxcal{
    background-color:#b5b5b5;
    height: 40px;
    width: 230px;
    border-radius: 10px;
    margin-left: 75px;
    display: flex;
    align-items: center;
}
.text8{
    font-family: 'Acme', sans-serif;
    color: #243D25;
    font-size: 25px;
    margin-left: 20px;
    font-weight: 400;
}
.img7{
    margin-left: 25px;
}

.keela{
    display: flex;
    flex-direction: row;
    /* background: red; */
}
.home{
    /* background-color: green; */
    width: 100px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Acme', sans-serif;
    color: #183319;
}
.service{
    /* background-color: yellow; */
    width: 100px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Acme', sans-serif;
    color: #183319;
}
.support{
    /* background-color: blue; */
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Acme', sans-serif;
    color: white;
}
.profile{
    /* background-color: brown; */
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Acme', sans-serif;
    color: #183319;
}